<div class="row form-bg">
  <div class="col-md-12 text-white bg-success py-2 text-center">
    <strong>Student Form</strong>
  </div>
  <div class="row my-2">
    <div class="form-group">
      <label for="inputName">Name :</label>
      <input
        #nameInput
        type="text"
        class="form-control"
        id="inputName"
        placeholder="Enter Name.."
        [(ngModel)]="form.name"
        name="name"
      />

      <div class="d-flex justify-content-between my-2">
        <label for="">Gender :</label>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="gender"
            id="flexRadioMale"
            [(ngModel)]="form.gender"
            value="Male"
          />
          <label class="form-check-label" for="flexRadioMale"> Male </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="gender"
            id="flexRadioFemale"
            [(ngModel)]="form.gender"
            value="Female"
          />
          <label class="form-check-label" for="flexRadioFemale"> Female </label>
        </div>
      </div>
      <div class="d-flex justify-content-between my-2">
        <label class="me-2" for="inputDOB">DOB:</label>
        <input type="date" class="form-control" id="inputDOB" [(ngModel)]="form.dob" name="dob" />
      </div>
      <div class=" d-flex justify-content-between my-2">
        <label class="me-2" for="inputDOB">Department:</label>
        <select class="form-select" [(ngModel)]="form.department" name="department" title="Department">
          <option value="">Select Department</option>
          <option value="Computer Science">Computer Science</option>
          <option value="Mechanical">Mechanical</option>
          <option value="Electrical">Electrical</option>
          <option value="Civil">Civil</option>
          <option value="Electronics">Electronics</option>
        </select>
        </div>
        <div class="d-flex align-items-center justify-content-between">
          <button class="button-sm bg-primary text-white border rounded-pill w-50 py-2 mb-2 me-2" (click)="onSubmit()" *ngIf="!isEdit">Add Student</button>
          <button class="button-sm bg-warning border rounded-pill w-50 py-2 mb-2" (click)="onReset()" *ngIf="!isEdit">Reset</button>
          <button class="button-sm bg-success border rounded-pill w-50 py-2 mb-2 me-2" (click)="onSubmit()" *ngIf="isEdit">Update Student</button>
          <button class="button-sm bg-secondary border rounded-pill w-50 py-2" (click)="onCancel()" *ngIf="isEdit">Cancel</button>
        </div>
      </div>
    </div>
  </div>
