<div class="row">
  <div class="col-md-12 text-white bg-success py-2 text-center">
    <strong>Student Table</strong>
  </div>
  <ng-container *ngIf="students && students.length > 0; else noData">
    <table class="table table-bordered table-striped table-hover table-responcive ">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Gender</th>
          <th scope="col">Age</th>
          <th scope="col">Department</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr class="align-bottom" *ngFor="let student of students">
          <td scope="row">{{ student.rollNo }}</td>
          <td scope="row">{{ student.name }}</td>
          <td scope="row">{{ student.gender }}</td>
          <td scope="row">{{ getAge(student.dob) }}</td>
          <td scope="row">{{ student.department }}</td>
          <td>
            <div class="d-flex justify-content-md-evenly">
              <button class="btn btn-sm btn-primary" (click)="onEditStudent(student)">Edit</button>
              <button class="btn btn-sm btn-danger" (click)="onRemoveStudent(student.rollNo)">Delete</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </ng-container>
  <ng-template #noData>
    <div class="alert alert-warning text-center my-3">
      No students data available. Please add one.
    </div>
  </ng-template>
</div>
